In [1]:
# catalan numbers

In [1]:
import pandas as pd

dfs = []
for i in [5,6,7,8,9,10,11]:
    dfs.append(pd.read_csv(f"/Users/rezadoobary/Documents/MLCorrelator2/ML-correlator/Graph_Edge_Data/graph_data_{i}.csv"))

In [15]:
for i in range(0,7):
    val = dfs[i]['COEFFICIENTS'].astype(str).map(eval)
    print(i+5, int(val.max()),int(val.min()))

5 1 -1
6 2 -1
7 2 -1
8 2 -5
9 2 -5
10 14 -5
11 14 -5

In [17]:
dfs[0].shape

(7, 3)

In [20]:
dfs[-2].shape

(900145, 3)

In [ ]:
dfs[1]['COEFFICIENTS'].astype(str).map(eval).max(),dfs[1]['COEFFICIENTS'].astype(str).map(eval).min()

2

In [8]:
dfs[2]['COEFFICIENTS'].astype(str).map(eval).max()

2

In [9]:
dfs[3]['COEFFICIENTS'].astype(str).map(eval).max()

2.0

In [10]:
dfs[4]['COEFFICIENTS'].astype(str).map(eval).max()

2.0

In [11]:
dfs[5]['COEFFICIENTS'].astype(str).map(eval).max()

14.0

In [26]:
df = pd.read_csv("/Users/rezadoobary/Documents/MLCorrelator2/ML-correlator/Tree_classifier_for_graphs/new_stuff/features/fgraphs/5loops.csv")

In [27]:
core = pd.read_csv("/Users/rezadoobary/Documents/MLCorrelator2/ML-correlator/Graph_Edge_Data/graph_data_5.csv")

In [28]:
df

,Basic_num_nodes_DEN,Basic_num_edges_DEN,Basic_min_degree_DEN,Basic_max_degree_DEN,Basic_avg_degree_DEN,Basic_degree_std_DEN,Basic_degree_skew_DEN,Basic_density_DEN,Basic_edge_to_node_ratio_DEN,Basic_degree_entropy_DEN,...,Cross_K4_mixed,Cross_triangles_mixed_frac,Cross_4cycles_mixed_frac,Cross_diamonds_mixed_frac,Cross_K4_mixed_frac,Cross_triangles_mixed_per_Cn3,Cross_4cycles_mixed_per_Cn4,Cross_diamonds_mixed_per_Cn4,Cross_K4_mixed_per_Cn4,COEFFICIENTS
0,9,21,4,5,4.666667,0.471405,-0.707107,0.583333,2.333333,0.918296,...,6.0,0.391304,0.600000,0.545455,1.0,0.107143,0.285714,0.142857,0.047619,1
1,9,20,4,5,4.444444,0.496904,0.223607,0.555556,2.222222,0.991076,...,5.0,0.333333,0.550000,0.400000,1.0,0.071429,0.174603,0.063492,0.039683,-1
2,9,21,4,6,4.666667,0.666667,0.500000,0.583333,2.333333,1.392147,...,11.0,0.461538,0.608696,0.588235,1.0,0.142857,0.333333,0.158730,0.087302,1
3,9,21,4,6,4.666667,0.816497,0.680414,0.583333,2.333333,1.435521,...,8.0,0.391304,0.462963,0.517241,1.0,0.107143,0.198413,0.119048,0.063492,1
4,9,19,4,5,4.222222,0.415740,1.336306,0.527778,2.111111,0.764205,...,2.0,0.230769,0.391304,0.250000,1.0,0.035714,0.071429,0.023810,0.015873,-1
5,9,21,4,7,4.666667,1.247219,1.336306,0.583333,2.333333,0.764205,...,7.0,0.333333,0.285714,0.500000,1.0,0.083333,0.111111,0.111111,0.055556,1
6,9,18,4,4,4.000000,0.000000,NaN,0.500000,2.000000,-0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [25]:
core

,COEFFICIENTS,DEN_EDGES,NUM_EDGES
0,1,"[(1, 5), (1, 6), (1, 8), (1, 9), (2, 4), (2, 6...","[(4, 6), (5, 8), (7, 9)]"
1,-1,"[(1, 3), (1, 4), (1, 8), (1, 9), (2, 3), (2, 4...","[(6, 8), (7, 9)]"
2,1,"[(1, 4), (1, 6), (1, 8), (1, 9), (2, 3), (2, 5...","[(5, 9), (6, 9), (7, 8)]"
3,1,"[(1, 2), (1, 6), (1, 7), (1, 9), (2, 6), (2, 7...","[(6, 7), (8, 9), (8, 9)]"
4,-1,"[(1, 2), (1, 3), (1, 4), (1, 9), (2, 3), (2, 4...","[(8, 9)]"
5,1,"[(1, 6), (1, 7), (1, 8), (1, 9), (2, 3), (2, 5...","[(8, 9), (8, 9), (8, 9)]"
6,1,"[(1, 6), (1, 7), (1, 8), (1, 9), (2, 4), (2, 5...",[]